:root {
    --primary-color: #fff;
    --second-color: #000;
    --third-color: #ff9601;
}
body {
    background-image: url(../img/bg-image.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    color: var(--primary-color);
    font-family: "Roboto Slab", sans-serif;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}
.container {
    padding: 0 200px;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.d-flex {
    display: flex;
}
p {
    padding: 0;
    margin: 0;
}
.loadMoreTrigger {
    height: 100px;
}
